html{
    box-sizing: border-box;
    height:100%;
}

::before,
::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background-color: black;
}

.wrapper{
    justify-content: center;
    justify-content: space-evenly;
}

#github{
    margin: top 20px;
}

#Me{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:5px solid cornsilk;
}

.Quicklink-Buttons{
    margin:;
}